<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the BA Highways Map Status!</h1>
            </hgroup>
            <p>
                Let's check our website every morning so you forget about traffic headaches. We care about your safety and
                happiness while moving across Buenos Aires Highways, specially during rush ours.
            </p>
            <p>Can you imagine commuting to work enjoying your favourite radio station, not even thinking about the traffic for
                a minute? This is what we promise you, and for what we work hard every day. <br /><br />
                <strong>Let's enjoy the city!</strong>
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
                Check the Buenos Aires Highway map status.
                <a href="/Map-local.html">Let's go!</a>
            </li>

            <li class="two">
                <h5>Go a Step Further</h5>
                Take a look at the Buenos Aires Highways Signs located in relevant places.
                <a href="/Map-local-highways.html">Let's go!</a>
            </li>
            <li class="three">
                <h5>Check the Interactive Experience</h5>
                Be an early adopter of a brand new way of stay tuned about traffic in Buenos Aires. You will be able to 
                reduce your commute time, anticipating problems and taking alternative routes to avoid delays.
                <a href="#">Coming soon…</a>
            </li>
        </ol>
    </section>
</div>
